x {
	margin-left: 10px
	padding-right: 5px
	padding-block-start: 
        margin-block-end:
	shape-:margin: 
	margin-left:
	margin-block-start: :q
margin:
margin-inline-start:
margin-left:
margin-bottom:
margin-block-end: 
margin-block-start:

margin-block-start:<BS>
margin-block-start:<BS

margin:

margin-block-start:

margin-bottom:


margin-bottom:

margin-left:

margin-inline-end:

margin-top: 

margin-bottom: 

margin:
:
:
margin-inline-end:

margin-bottom:

margin-block-start: 

margin-top: 

margin-block-start:

margin-block-start:

box-sizing:

border-inline-start: 
